<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="seyma\sqlexpress.SatisDB.dbo" connectionString="XpoProvider=MSSqlServer;data source=SEYMA\SQLEXPRESS;user id=sa;password=Bm337991;initial catalog=SatisDB;Persist Security Info=true;TrustServerCertificate=true" />
    <add name="SatisDBEntities" connectionString="metadata=res://*/Entity.Model1.csdl|res://*/Entity.Model1.ssdl|res://*/Entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SEYMA\SQLEXPRESS;initial catalog=SatisDB;persist security info=True;user id=sa;password=Bm337991;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="SatisDBEntities1" connectionString="metadata=res://*/Entity.Model1.csdl|res://*/Entity.Model1.ssdl|res://*/Entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SEYMA\SQLEXPRESS;initial catalog=SatisDB;persist security info=True;user id=sa;password=Bm337991;multipleactiveresultsets=True;trustservercertificate=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="SatisDBEntities2" connectionString="metadata=res://*/Entity.Model1.csdl|res://*/Entity.Model1.ssdl|res://*/Entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SEYMA\SQLEXPRESS;initial catalog=SatisDB;persist security info=True;user id=sa;password=Bm337991;multipleactiveresultsets=True;encrypt=True;trustservercertificate=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="localhost_Connection" connectionString="XpoProvider=MSSqlServer;data source=SEYMA\SQLEXPRESS;user id=;password=;initial catalog=SatisDB;Persist Security Info=true;Encrypt=true;TrustServerCertificate=true" />
  </connectionStrings>
</configuration>